<!-- Load jquery and bootstrap -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


<!-- Load react.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.4.2/react.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.4.2/react-dom.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.21.1/babel.min.js"></script>

<!-- Load fonts -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Pacifico">


{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/global.css' %}" />

<script type="text/babel" src="{% static 'javascript/objects/planObjects.js' %}"></script>
<script type="text/babel" src="{% static 'javascript/objects/viewObjects.js' %}"></script>

<header class="header">
  <div class="header-content">
    <h1>Choosy Chow</h1>
  </div>

</header>
